body {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(../img/new-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mb-3 {
    margin-bottom: 0 !important;
}
.homeSignup {
    height: 70vh;
}

.buttonSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}