.headers {
    margin-top: 20px;
    margin-bottom: 20px;
}
.photos{
    display: flex;
    justify-content: center;
}
.projectButton{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.save {
    width: 300px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}